<%- include('../partials/header') %>

<h1>500 - Internal Server Error</h1>
    <p>Sorry, something went wrong on our end.</p>
    <button onclick="window.history.back()">Go Back</button>
    <a href="/">Go to Home</a>

<%- include('../partials/footer') %>