<%- include('../partials/header') %>

<div class="text-center mt-5 pt-5 mb-5 ms-3 me-3">
    <div class="container align-self- border  mt-5 pt-3" style="max-width: 500px;background-image: url('/static/img/instagram/bg2.avif');background-position: center; border-radius: 1%;">
        <a class="text-decoration-none" href="/"><h1 class="fw-bold mb-3 mt-3" style="font-style: italic;">Glassics</h1></a>
        <h3 class="pb-2">Admin Login</h3>
        <div id="error" class="text-warning fw-bold text-center"></div>
        <form id="form">
            <div class="form-group mb-2 position-relative">
                <input type="text" name="adminName" class="form-control" placeholder="Enter Username" id="adminName">                </div>
            <div class="form-group mb-2 position-relative">
                <input type="password" name="apassword" class="form-control" placeholder="Enter Password" id="apassword">
                <i class="fa fa-eye position-absolute top-50 end-0 translate-middle-y me-2 cursor-pointer" id="togglePassword"></i>
            </div>
            <button type="submit" class="btn btn-outline-primary rounded-pill mb-4 mt-2">Submit</button>
        </form>
    </div>
</div>
<style>
   
</style>

<%- include('../partials/footer') %>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('form');
        const errorDiv = document.getElementById('error');
        const messageDiv = document.getElementById('message');

        if (messageDiv) {
            setTimeout(() => {
                messageDiv.remove();
            }, 5000);
        }

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            errorDiv.innerText = '';
            const adminName = document.getElementById('adminName').value.trim();
            const apassword = document.getElementById('apassword').value.trim();
            const errors = [];

            if (!adminName){
                errors.push('Name is required')
            }
            if (!apassword) {
                errors.push('Password is required');
            }

            if (errors.length > 0) {
                errorDiv.innerText = errors[0];
                return;
            }

            try {
                const response = await fetch('/admin/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ adminName, apassword })
                });

                const result = await response.json();

                if (response.ok) {
                    window.location.href = '/admin/dashboard';
                } else {
                    errorDiv.innerText = result.message;
                }
            } catch (err) {
                errorDiv.innerText = 'An error occurred. Please try again later.';
            }
        });
    });
</script>
