<%- include('../partials/header') %>

    <div class="container-scroller">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand text-decoration-none" href="/">
                    <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex ms-auto search-form">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchContent" aria-controls="navbarSearchContent" aria-expanded="false" aria-label="Toggle search">
                    <span class="fa fa-search text-secondary"></span>
                  </button>
                  <ul class="navbar-nav navbar-nav-right">
                    <a href="/admin/categories"><button class="btn btn-outline-primary ms-2">Go Back</button></a>
                  </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu text-secondary"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper pe-0">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item mt-3">
                        <a class="nav-link" href="/admin/dashboard">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">
                            <span class="menu-title">Products</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-shopping menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <span class="menu-title">Users</span>
                            <i class="mdi mdi-face menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">
                            <span class="menu-title">Orders</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/categories" data-toggle="collapse" data-target="#categories">
                            <span class="menu-title">Categories</span>
                            <i class="mdi mdi-group menu-icon"></i>
                        </a>
                        <div class="collapse show" id="categories">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/categories">Listed</a>
                                    <a class="nav-link active" href="/admin/products/unlisted_products">Unlisted</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/brands">
                            <span class="menu-title">Brands</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-grid menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="mdi mdi-ticket menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/offers">
                            <span class="menu-title">Offers</span>
                            <i class="mdi mdi-percent menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">
                            <span class="menu-title">Logout</span>
                            <i class="mdi mdi-logout menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <!-- Collapsible Search Bar -->
          <div class="collapse" id="navbarSearchContent">
            <div class="bg-light p-3 mb-3 d-md-none">
                <form class="d-flex w-100 search-form">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-home"></i>
                            </span>  Unlisted Categories
                        </h3>
                    </div>
                    <div class="container">
                        <div class="card-grid">
                            <% categories.forEach((category) => { %>
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title font-weight-bold mb-4"><%= category.categoryName %></h5>
                                        <a href="#" class="btn btn-outline-danger btn-sm" onclick="confirmReAdd('<%= category._id %>')">Add</a>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                      </div>                
                </div>
            </div>
        </div>
    </div>
    <!-- container-scroller -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmReAdd(categoryId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, add it!',
        cancelButtonText: 'Cancel',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/categories/reAdd_categories?id=${categoryId}`, {
            method: 'GET'
          })
          .then(response => response.json())
          .then(data => {
            if (data.message === 'Category added to Categories') {
              Swal.fire(
                'Added!',
                'Your category has been added.',
                'success'
              ).then(() => {
                window.location.reload();
              });
            } else {
              Swal.fire(
                'Error!',
                'There was a problem adding your category.',
                'error'
              );
            }
          })
          .catch(error => {
            Swal.fire(
              'Error!',
              'There was a problem adding your category.',
              'error'
            );
          });
        }
      });
    }
  </script>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }

    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card img {
      height: 200px; /* Adjust the height as needed */
      object-fit: cover;
    }
    .page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
    </style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
          $('.sidebar-offcanvas').toggleClass('active');
      });
  });
</script>
<%- include('../partials/footer') %>

    