<%- include('../partials/header') %>

    <div class="container-scroller">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a class="text-decoration-none" href="/"><h1 class="fw-bold" style="font-style: italic;">Glassics</h1></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li class="active"><a href="/account/profile">Account</a></li>
                                <li><a href="./blog.html">Blog</a></li>
                                <li><a href="./contact.html">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="header__nav__option">
                            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                            <a href="/cart"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </header>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="assets/images/faces/face1.jpg" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">David Grey. H</span>
                                <span class="text-secondary text-small">Project Manager</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/profile">
                            <span class="menu-title">Profile</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/wishlist">
                            <span class="menu-title">Wishlist</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/orders">
                            <span class="menu-title">Orders</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item active bg-gradient-danger">
                        <a class="nav-link" href="/account/address">
                            <span class="menu-title font-weight-bold text-white">Address</span>
                            <i class="mdi mdi-chart-bar menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/wallet">
                            <span class="menu-title">Wallet</span>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/banners">
                            <span class="menu-title">Banners</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/Offers">
                            <span class="menu-title">Offers</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">
                            <span class="menu-title">Logout</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="/static/mdi mdi-home"></i>
                            </span>
                            <p>Address > Add Address</p>
                        </h3>
                        <a href="/account/address"><button class="btn btn-secondary">Go back</button></a>
                    </div>
                    <form action="" method="post" id="form">
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="addressName">Name<span style="color: red;">*</span></label>
                                    <input type="text" name="addressName" class="form-control" placeholder="Enter Name"
                                        id="addressName">
                                </div>
                                <div class="col">
                                    <label for="addressEmail">Email<span style="color: red;">*</span></label>
                                    <input type="text" name="addressEmail" class="form-control"
                                        placeholder="Enter Email" id="addressEmail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="addressMobile">Mobile<span style="color: red;">*</span></label>
                                    <input type="text" name="addressMobile" class="form-control"
                                        placeholder="Enter Mobile" id="addressMobile">
                                </div>
                                <div class="col">
                                    <label for="addressHouse">House Name<span style="color: red;">*</span></label>
                                    <input type="text" name="addressHouse" class="form-control"
                                        placeholder="Enter House Name" id="addressHouse">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="addressStreet">Street<span style="color: red;">*</span></label>
                                    <input type="text" name="addressStreet" class="form-control"
                                        placeholder="Enter Street" id="addressStreet">
                                </div>
                                <div class="col">
                                    <label for="addressPost">Post Office<span style="color: red;">*</span></label>
                                    <input type="text" name="addressPost" class="form-control"
                                        placeholder="Enter Post Office" id="addressPost">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="addressMark">Landmark</label>
                                    <input type="text" name="addressMark" class="form-control"
                                        placeholder="Enter Landmark" id="addressMark">
                                </div>
                                <div class="col">
                                    <label for="addressCity">City<span style="color: red;">*</span></label>
                                    <input type="text" name="addressCity" class="form-control" placeholder="Enter City"
                                        id="addressCity">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <label for="addressDistrict">District<span style="color: red;">*</span></label>
                                    <select class="form-control" name="addressDistrict" id="addressDistrict">
                                        <option>Kannur</option>
                                        <option>Kasargod</option>
                                        <option>Kozhikode</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="addressState">State<span style="color: red;">*</span></label>
                                    <select class="form-control" name="addressState" id="addressState">
                                        <option>Kerala</option>
                                        <option>Karnataka</option>
                                        <option>Tamil Nadu</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="addressPin">PIN<span style="color: red;">*</span></label>
                                    <input type="number" name="addressPin" class="form-control" placeholder="Enter PIN"
                                        id="addressPin">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success text-center mt-3 mb-4">Upload</button>
                        </div>
                    </form>
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="assets/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="assets/vendors/chart.js/Chart.min.js"></script>
        <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="assets/js/off-canvas.js"></script>
        <script src="assets/js/hoverable-collapse.js"></script>
        <script src="assets/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="assets/js/dashboard.js"></script>
        <script src="assets/js/todolist.js"></script>
        <!-- End custom js for this page -->

<%- include('../partials/footer') %>