<%- include('../partials/header') %>

<div class="text-center mt-5 mb-5">
    <div class="container align-self- border regcon" style="max-width: 500px;">
        <div class="header__logo">
            <a class="text-decoration-none" href="/"><h1 class="fw-bold" style="font-style: italic;">Glassics</h1></a>
        </div>
        <div class="title regtit mb-2">
            <h2 class="pb-3 pt-3">Edit Password</h2>
            <% if(locals.message) { %>
                <span id="message" class="alert text-warning text-center message" role="alert"><%= message %></span>
            <% } %>
            <div id="error" class="text-warning fw-bold text-center"></div>
            <form action="" method="post" id="form">
                <div class="mb-3">
                    <input type="password" name="opassword" class="form-control" placeholder="Enter old password" id="opassword">
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Enter new password" id="password">
                </div>
                <div class="mb-3">
                    <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" id="cpassword">
                </div>
                <button type="submit" class="btn btn-primary mb-4">Submit</button>
            </form>
            <span class="text-dark mb-2"><a class="text-decoration-none" href="/account/profile">Go Back</a></span><br>
        </div>
    </div>
</div>

<script>
    setTimeout(()=>{
        const messageDiv = document.getElementById('message');
    if(messageDiv){
        messageDiv.remove()
    }
    },5000);
</script>
<script>
    let form = document.getElementById('form');
    let error = document.getElementById('error');
    let message = [];

    form.addEventListener('submit',(e) => {
        message = [];
        let opassword = document.getElementById('opassword').value.trim();
        let password = document.getElementById('password').value.trim();
        let cpassword = document.getElementById('cpassword').value.trim();

        if(!opassword){
            message.push('Please enter the old password');
        };

        if(!password){
            message.push('Please enter the new password');
        };

        if(!cpassword){
            message.push('Please confirm your password');
        };

        if(opassword === password){
            message.push('new password cannot be the old password');
        }

        if(password !== cpassword){
            message.push('Passwords does not match');
        };

        if(message.length > 0){
            e.preventDefault();
            error.innerText = message[0];
        }
    })
</script>
<%- include('../partials/footer') %>